* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}
html {
  font-size: 62.5%;
}
.showcase {
  position: apsolute;
  right: 0;
  padding: 10rem;
  min-height: 100vh;
  background: #111;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.toggle {
  background-image: url("https://i.ibb.co/HrfVRcx/menu.png");
  position: relative;
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-size: 3rem;
  background-position: center;
  cursor: pointer;
  transition: 1s;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 4rem 10rem;
  z-index: 1000;
  cursor: pointer;
}

header h2 {
  font-size: 2rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}
.showcase .text {
  position: relative;
  z-index: 1000;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #747d8c;
  mix-blend-mode: overlay;
  top: 0;
  left: 0;
}
.text h2 {
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 6rem;
  font-weight: 800;
  max-width: 50rem;
}
.text h3 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5rem;
  max-width: 40rem;
}
.text p {
  max-width: 50rem;
  font-size: 1.2rem;
  margin: 1.5rem 0;
}
button {
  color: black;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 2rem;
  background: white;
  transition: 0.5s;
  cursor: pointer;
  margin-top: 1rem;
  text-transform: uppercase;
}
button:hover {
  letter-spacing: 0.5rem;
}
.social-media {
  position: absolute;
  bottom: 2rem;
  z-index: 1000;
  left: 0;
  display: flex;
  padding-left: 10rem;
  align-items: center;
  justify-content: center;
}
ul li {
  list-style-type: none;
}
.social-media li a {
  display: inline-block;
  color: white;
  filter: invert(1);
  cursor: pointer;
  transform: scale(0.5);
  transition: 0.5s;
}
.social-media li a:hover {
  transform: translateY(-20px);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30rem;
}
.menu.remove {
  display: none;
}
ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
  margin: 0.5rem 0;
}
ul li a:hover {
  color: rgb(163, 163, 7);
}
.cancel {
  background: url("cancel.png");
  background-size: 2.5rem;
  filter: invert(1);
  background-repeat: no-repeat;
  background-position: center;
  right: 25rem;
}
.showcase.active1 {
  right: 30rem;
}
@media (max-width: 800px) {
  .showcase,
  header,
  .social-media {
    padding: 4rem;
  }
  .text h2 {
    font-size: 4rem;
    line-height: 4rem;
  }
  .text h3 {
    margin-top: 1rem;
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
